<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
   </head>
   <body>
      <div class="topnav">
         <a class="active" href="/">Home</a>
         <a href="/signup">Sign up</a>
         <a href="/signin">Sign in</a>
         <a href="/chat">Chat</a>
         <a href="/order">Order</a>
         <a href="/account">Account</a>
      </div>
      <h1 style="color: white;margin-left:2%">Account info</h1>
      <div class="user-info">
        <p><strong>User ID:</strong> {{ user_info.user_id }}</p>
        <p><strong>Username:</strong> {{ user_info.username }}</p>
        <p><strong>Email:</strong> {{ user_info.email }}</p>
        <p><strong>Created At:</strong> {{ user_info.created_at }}</p>
      </div>
      <div class="chat-container">
         <h1 class="text">Order history</h1>
         <div class="order-history">
            {% for order in orders %}
               <div class="order-item">
                  <pre>{{ order | safe }}</pre>
               </div>
            {% endfor %}
         </div>
      </div>
      <a href="/logout" class="logoutbuttom">Log out</a>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
         {% for message in messages %}
            {% if message != "\n" %}
            <p class="flash">{{ message }}</p>
            {% endif %}
         {% endfor %}
      {% endif %}
      {% endwith %}
   </body>
</html>
