<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
</head>
<body>
    <div class="topnav">
        <a href="/"><i class="fa fa-home"></i> Home</a>
        <a href="/signup"><i class="fa fa-user-plus"></i> Sign up</a>
        <a href="/signin"><i class="fa fa-sign-in"></i> Sign in</a>
        <a href="/chat"><i class="fa fa-comments"></i> Chat</a>
        <a href="/order"><i class="fa fa-shopping-cart"></i> Order</a>
        <a href="/account"><i class="fa fa-user"></i> Account</a>
    </div>

    <div class="text-overlay">
        <h1 class="promo">INTERNATIONAL KOREAN GRILL & HOTPOT BUFFET</h1>
        <h1 class="promo">Chatbot website</h1>
    </div>
    <img src="{{ url_for('static', filename='images/scroll-pic.png') }}" class="scroll">
    <div class="nice-background">
        <h1 class="text">What is this website?</h1>
        <p class="text">
            Welcome to our brand new AI chatbot website! <br>
            This chatbot specialises in making orders for customers<br>
            at our restaurants, saving time and you can do it at the comfort of your home without<br>
            having to be in-person!
        </p>
    </div>
    <div class="features-container">
        <div class="features">
            <h1 class="center">Features:</h1>
            <ul class="bullet">
                <li>Ordering tab to allow you to make reservations at various restaurants, all at the comfort of your home</li>
                <li>A friendly chatbot that can recommend you deals and dishes, using previous orders and reservations to give you a fully personalised ordering experience</li>

            <ul>
        </div>
    </div>
    <!--added-->

    <div class="posters-container">
        <div class="poster">
            <h1>Looking for a place to hold a large event?</h1>
            <p>Are you looking for a convenient location to hold your event?</p>
            <p>Do you require a dining place that can hold up to 156 people?</p>
            <p>Or are you having a headache to find a place that can cater to all races?</p>
            <p>You are looking at the right place! Seoul Garden is best suited halal grill & hotpot buffet restaurant that can hold up to 156 people at one- go with up to 6 outlets island- wide.</p>
        </div>
    
        <div class="poster2">
            <h1 class="center">Seoul Garden</h1>
            <p>Seoul Garden Buffet (International Korean Grill & HotPot) restaurant chain, anchored in 6 countries of Asia, celebrates its 41st anniversary this 2nd Q 2024. Customers are those who want Korean and Asian flavours, wide variety of self-selection all you can eat buffet, 2 in 1 (smokeless grill and hotpot) dining experience. Most customers come in 2 or more as it is venue for celebrating all occasions with seating capacity ranging from 130 to 300 seats, depending on location.</p>
            <p>Be part of the success developed over 40 years, emerging stronger year on year, with innovation and creation from the Franchisor.</p>
        </div>
    </div>
    <div class="signup-container">
        <a href="/signup" class="signuplink">Sign up now!</a>
    </div>
</body>
</html>

