<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
   </head>
   <body>
   
      <div class="topnav">
         <a class="active" href="/">Home</a>
         <a href="/signup">Sign up</a>
         <a href="/signin">Sign in</a>
         <a href="/chat">Chat</a>
         <a href="/order">Order</a>
         <a href="/account">Account</a>
      </div>
      <div class="form-container">
         <form method="POST" action="/signin" class="form">
            <h3 class="text">Welcome back</h3>
            <input type="text" id="email" name="email" required class="input" placeholder="Email" required size="30"><br>
            <input type="password" id="password" name="password" required class="input" placeholder="Password" required size="30"><br>
            <input type="submit" value="Sign In" class="submit-button" required size="30">
         </form>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
         
          {% for message in messages %}
            <div class="flash" 
            style= position:absolute;left:38%;top:80%;color:red;>
               <p>{{ message }}</p>
            </div>
              
          {% endfor %}
   
      {% endif %}
      {% endwith %}   
   </body>
</html>