<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
   </head>
   <body>
      <div class="topnav">
         <a href="/"><i class="fa fa-home"></i> Home</a>
         <a href="/signup"><i class="fa fa-user-plus"></i> Sign up</a>
         <a href="/signin"><i class="fa fa-sign-in"></i> Sign in</a>
         <a href="/chat"><i class="fa fa-comments"></i> Chat</a>
         <a href="/order"><i class="fa fa-shopping-cart"></i> Order</a>
         <a href="/account"><i class="fa fa-user"></i> Account</a>
     </div>
      
      <div class="form-container">
         <form method="POST" class="form">
            <h3 class="text">Register</h3>
            <!-- <label for="username">Username:</label><br> -->
            <input type="text" id="username" name="username" placeholder= "Username" required size="30" class="input"><br>
            <!-- <label for="password">Password:</label><br> -->
            <input type="text" id="password" name="password" placeholder= "Password" required size="30" class="input"><br>
            <!-- <label for="email">Email:    </label><br> -->
            <input type="text" id="email" name="email" placeholder= "Email" required size="30" class="input"><br>
            <input type="submit" value="Register" class="submit-button">
         </form>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
         
          {% for message in messages %}
              <p class="flash">{{ message }}</p>
          {% endfor %}
   
      {% endif %}
      {% endwith %}   
   </body>
</html>
