<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> 
   </head>
   <body>
   
      <div class="topnav">
         <a href="/"><i class="fa fa-home"></i> Home</a>
         <a href="/signup"><i class="fa fa-user-plus"></i> Sign up</a>
         <a href="/signin"><i class="fa fa-sign-in"></i> Sign in</a>
         <a href="/chat"><i class="fa fa-comments"></i> Chat</a>
         <a href="/order"><i class="fa fa-shopping-cart"></i> Order</a>
         <a href="/account"><i class="fa fa-user"></i> Account</a>
     </div>
      <div class="form-container">
         <form method="POST" action="/signin" class="form">
            <h3 class="text">Welcome back</h3>
            <input type="text" id="email" name="email" required class="input" placeholder="Email" required size="30"><br>
            <input type="password" id="password" name="password" required class="input" placeholder="Password" required size="30"><br>
            <input type="submit" value="Sign In" class="submit-button" required size="30">
         </form>
      </div>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <div class="flash-messages">
              {% for message in messages %}
                  <p class="flash" style="color:black;margin-top:80%;">{{ message }}</p>
              {% endfor %}
          </div>
      {% endif %}
      {% endwith %}
    
   </body>
</html>